<div class="project-col">
  <h2>This Site</h2>
  <h4 class="project-content">
    <p>
      This site was written during a winter break when I finally had the time and attentiveness to bang it out. I thought of it as an opportunity to learn and show what I can do and what makes me tick. 
    </p>
    <br>
    <p>
      Currently, this site is being served on a simple Haskell server running on a DigitalOcean droplet somewhere in New York. All the routing is being done with AngularJS and SASS looks beautiful compared to CSS. The design was inspired by the "time stack" photography of Matt Molloy.
    </p>
  </h4>
</div>