<div id="about" class="four columns section">
  <h4>yo:</h4>
  <p>
    I'm a software engineer who creates systems that benefit users and the world. In August I'll be joining <a href="http://www.plangrid.com/en">PlanGrid</a> as a full-stack engineer. I've written code for Google, won hackathons, and created systems for graduate research studies. Python is my goto language for productivity due to its simplicity and clarity. Functional languages pique my interest as they provoke a change in mindset and provide computational security; Haskell has been my door into that world but I've recently been interested in Scala and Elixir. I feel most comfortable away from UI development but I like to consider myself a jack of all trades.
  </p>

  <p>
    Currently, I'm a Senior Computer & Systems Engineering and Computer Science dual major at Rensselaer Polytechnic Institute. I'm an active member of the Racquetball Team and have helped the team become a leader in the <a href="http://ecrcracquetball.org/" class="inline-a">Eastern Collegiate Racquetball Conference</a>. Since my third semester, I've been a brother of Lambda Chi Alpha where I serve as the Standards Chair on the Executive Committee and the Webmaster. I am also a founding member and former committee chair of a successful student-run lecture series called <a href="http://rensselaertalks.com" class="inline-a">Rensselaer TALKS</a>.
  </p>

  <p>
    I originally hail from Bloomington, IL where I attended Bloomington High School. In my time there I was a trumpet section leader in the Marching Band, member of the Wind Symphony, Math Team, and Scholastic Bowl. Later, I became heavily involved in the drama department and played on the tennis team.
  </p>

  <section id="hire">
    <span class="fa fa-angle-double-left fa-lg"></span>
      <a href="{{ "/assets/resume.pdf" | prepend: site.baseurl }}">
        hire me
      </a>
    <span class="fa fa-angle-double-right fa-lg"></span>
  </section>

</div>