<div id="about" class="four columns section">
  <div class="section-title" >
    <div>
      <h4>yo</h4>
    </div>
  </div>

  <p>
    I'm a software engineer who creates systems that benefit users, the world, and construction workers. Currently, I sling code at <a href="http://www.plangrid.com/en">PlanGrid</a>. I've won hackathons, written code for Google, and created systems for graduate research studies. Immutability and simplicity make me happy.
  </p>

  <p>
    I graduated from Rensselaer Polytechnic Institute with a dual in Computer Science and Computer & Systems Engineering. While there I was an active member of the Racquetball Team and helped the team become a leader in the <a href="http://ecrcracquetball.org/" class="inline-a">ECRC</a>. I'm a proud brother of Lambda Chi Alpha and am a founding member and former committee chair of a successful student-run lecture series called <a href="http://rensselaertalks.com" class="inline-a">Rensselaer TALKS</a>.
  </p>

  <p>
    Bloomington, IL is my first home where I attended Bloomington High School. In my time there I was a trumpet section leader in the Marching Band, member of the Wind Symphony, Math Team, and Scholastic Bowl. Later, I became heavily involved in the drama department and played on the tennis team.
  </p>

  <section id="hire">
    <a href="{{ "resume/resume.pdf" | prepend: site.url }}">
      Hire Me
    </a>
  </section>

</div>
