<head>

  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <!-- CSS -->
  <link rel="stylesheet" href="{{ "/css/ComputerModernSerif/cmun-serif.css" | prepend: site.baseurl }}" />
  <link rel="stylesheet" href="{{ "/css/normalize.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/skeleton.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/default.css" | prepend: site.baseurl }}">

  <link rel="icon" type="image/png" href="/assets/fav.png" sizes="32x32">
  <meta name="theme-color" content="#ffffff">

</head>
