<div id="projects" class="four columns section">
  <div class="section-title" >
    <div>
      <h4>creations</h4>
    </div>
  </div>
  <!-- <h4>creations</h4> -->
  <p>Here are some of the things I've worked on over the last few years. Other, smaller things I've dinked around with are on <a href="https://github.com/{{ site.github_username }}" class="inline-a">GitHub</a>.</p>

  <ul>
    {% for project in site.projects %}
    <li>
      <a class="project-link" href="{{ project.url }}">{{ project.title }}</a>
      &ndash; {{ project.summary }}
      <ul class="tech-list">
        {% for tech in project.techs %}
        <li class="tech-logo"><img src="/assets/tech-logos/{{ tech }}.png" alt="{{ tech }}">
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</div>