body
  background-color: white

a .fa
  color: black

#about
  background-color: $blue-bg

#projects
  background-color: $green-bg

#blog
  background-color: $yellow-bg

#interests
  background-color: $red-bg

a
  color: white

a:hover
  color: white

.project
  background-color: $green-bg

.post
  background-color: $yellow-bg
