$section-spacing: 1.5rem

body
  font-family: "Computer Modern Serif"
  color: black

#site-title
  text-transform: capitalize
  font-variant: small-caps

.section
  padding: $section-spacing
  margin-bottom: 11.5%

h4
  background: white
  padding-right: 0.5rem
  display: inline

.section-title>div
  width: 100%
  height: 2.5rem
  border-bottom: 1px solid black
@media (min-width: 400px)
@media (min-width: 550px)
  .section-title>div
    height: 3rem

ul li
  list-style-position: outside
  margin-left: $section-spacing

.section-title
  margin-bottom: 2rem

#hire
  text-align: center
#hire>a, .home-button
  text-transform: capitalize
  font-variant: small-caps

a
  text-decoration: none
  font-weight: bold
  color: black
  cursor: pointer

a:hover
  color: black

.project-link
  font-weight: bold
  text-decoration: none
  font-style: italic

.post
  padding: 2rem

.post-meta
  float: right
  font-style: italic

.post-link
  font-style: italic

.project
  padding: 2rem

#site-title
  margin-top: 2rem

.tech-list
  display: inline-block
  margin: 0

.tech-logo
  display: inline-block
  margin-left: 0.25rem

.tech-logo>img
  max-height: 1.5rem

p>img
  max-width: 100%