.section
  padding: 1.5rem

#about
  // background: -webkit-linear-gradient($blue-bg 90%, $clear-color)
  // background: -o-linear-gradient($blue-bg 90%, $clear-color)
  // background: -moz-linear-gradient($blue-bg 90%, $clear-color)
  // background: linear-gradient($blue-bg 90%, $clear-color)
  background-color: $blue-bg

#interests
  // background: -webkit-linear-gradient($red-bg 90%, $clear-color)
  // background: -o-linear-gradient($red-bg 90%, $clear-color)
  // background: -moz-linear-gradient($red-bg 90%, $clear-color)
  // background: linear-gradient($red-bg 90%, $clear-color)
  background-color: $red-bg

#projects
  // background: -webkit-linear-gradient($green-bg 90%, $clear-color)
  // background: -o-linear-gradient($green-bg 90%, $clear-color)
  // background: -moz-linear-gradient($green-bg 90%, $clear-color)
  // background: linear-gradient($green-bg 90%, $clear-color)
  background-color: $green-bg

#blog
  background-color: $yellow-bg

a
  text-decoration: none
  color: white
  font-weight: bold

a:hover
  font-style: italic
  color: white

.project-link
  text-decoration: none

.post
  background-color: $yellow-bg
  padding: 2rem

.project
  background-color: $green-bg
  padding: 2rem