<div id="home">
  <ul id="tagline">
    <li class="tagline-list" id="simplify">Simplify complexity.</li>
    <li class="tagline-list" id="learn">Actively learn.</li>
    <li class="tagline-list" id="embrace">Embrace the ambiance.</li>
  </ul>

  <br>
  <br>
  <br>
  <div id="home-div">
    <h3>
      I use computers, electricity, physics, and numbers, to make things, make sense of the world,
      make people's lives better. I strive to learn and simplify things while
      embracing what the world can offer. There's a lot out there to
      see and grow from, and I just want to play a part.
    </h3>

    <br>
    <br>
    <h1>
      I'm Julius Alexander IV, and forth I go.
    </h1>
  </div>
</div>