<div class="content">
  <div id="projects-col">
    <h2>PROJECTS</h2>
    <ul id="project-list">
      <li class="project">
        <a class="dark-link" ui-sref=".avoclocko">Avoclock'o</a>
      </li>
      <li class="project">
        <a class="dark-link" ui-sref=".identitie">Identitie</a>
      </li>
      <li class="project">
        <a class="dark-link" ui-sref=".sprawl">Sprawl</a>
      </li>
      <li class="project">
        <a class="dark-link" ui-sref=".logic_circuits">Visual Logic Circuits</a>
      </li>
      <li class="project">
        <a class="dark-link" ui-sref=".site">This Site</a>
      </li>
      <li class="project">
        <a class="dark-link" ui-sref=".misc">Other Stuff</a>
      </li>
    </ul>
  <a class="home-link" ui-sref="home" alt="Home"><i class="fa fa-lg fa-home"></i></a>
  </div>
  <div ui-view></div>
  
</div>