<div class="content">
  <h2>PASSIONS</h2>
  <a class="home-link" ui-sref="home" alt="Home"><i class="fa fa-lg fa-home"></i></a>
  <h4>
    <p>
      TV shows about Albuquerque and methamphetamines. Beatless, droning music recalling phosphenes. The Rocky Mountains. Novels of time-travel, war and Dresden, Tralfamadorians, birds that can only think to say "poo-tee-weet".
    </p>
    <br>
    <p>
      There's a creative way to show what all I'm passionate about and I'll think of it eventually...
    </p>
  </h4>
</div>