---
layout: default
---
<div class="projects">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="projects-content">
    {{ content }}
  </article>

  <section id="projects-section">
  {% for project in site.projects %}
    <figure class="project-pic">
      <a href="{{ project.url }}">
        <img src="../assets/{{ project.shorthand }}.png"
          alt="{{ project.title }}"/>
        <figcaption class="project-text">
          <span>{{ project.title }}</span>
        </figcaption>
      </a>
    </figure>
  {% endfor %}
  </section>

</div>
